.advant {
    padding: 51px 0 57px 0;
    background-color: #f3f3f3;
    &__wrapper {
        margin-top: 20px;
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        gap: 10px 62px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &-icon {
            margin-right: 17px;
            img {
                padding-top: 5px;
            }
        }
        &-text {
            font-size: 14px;
            line-height: 22px;
            text-align: left;
            h4 {
                color: $main-color;
                font-weight: 700;
            }
            p {
                font-weight: 300;
            }
        }
    }

}