.agent {
    padding-top: 58px;
    padding-bottom: 78px;
    background: url('../img/bg/bg_China.jpg') center center/cover no-repeat;
    &__logo {
        width: 102px;
        height: 102px;
        border: 1px solid #ffffff;
        border-radius: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .title {
        color: #ffffff;
        padding-top: 28px;
    }
    .subtitle {
        color: #ffffff;
    }
}